{% extends 'Launcher/base.html' %}
{% block head_title %}{{ request.user }}| Books{% endblock %}
{% block content %}
    <div class="container">
    {% if bookinstance_list %}
    <ul>
    {% for borrow in bookinstance_list %}
    <li class="{% if borrow.is_overdue %}text-danger"{% endif %}><a href="/library/books/{{ borrow.book.slug }}">{{ borrow.book.title }}</a>
    <p><small><strong>{{ borrow.due_back }}</strong></small></p>
    </li>
    {% endfor %}
    </ul>
        {% else %}
        <h1>There Are No Books Borrowed</h1>
    {% endif %}
    </div>

{% endblock %}