.carousel{
    height: 500px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    z-index: 1;
    top: 0;
}
.carousel .item{
    height: 500px;
    padding: 0px;
}
.navbar{
 background-color: rgba(0,0,0,0.8);
}
.bg-4{
    background-color: #2f2f2f;
    color: #fff;
    position: absolute;
    bottom: 0;
}